:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}

[data-theme='dark'] {
  --background:#343434;
  --text-primary: white;
  --text-secondary: grey;
  --accent: #0C7970;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  height: 100vh;
  transition: all .5s;
}

.link{
  color: #00A3A3;
  text-decoration: none;
}
